@doctype installation-config-file
@name scms-basics
@folder scms-basics
@file~write scms-basics/map.json
{
    "contact-form" : {
        "gen-code" : "contact-form-builder.php",
        "get-code" : "contact-form-getter.js",
        "css-file" : "contact-form-styles.css",
        "htm-code" : "contact-from-html-code.js",
        "class" : "scms-contact-form-block",
        "disp-name" : "Formulaire de contact",
        "isBlock" : true
    }
}
@file~close scms-basics/map.json
@file~write scms-basics/contact-form-builder.php
<div class="scms-contact-form-block style-simple-band">
    <div class="scms-centred-element">
        <form action="#" method="post">
            <table>
                <tr>
                    <td>
                        Nom :
                    </td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Prénom :
                    </td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email :
                    </td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Objet :
                    </td>
                    <td>
                        <textarea name="name"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <input type="submit" value="Confirmer" class="scms-simple-action-button" style="margin-right:0;">
                    </td>
                </tr>
            </table>

        </form>
    </div>
</div>

<style data-core-no-index>
    .scms-contact-form-block.style-simple-band table{
        display:table;
        width:65%;
        margin:auto;
    }

    .scms-contact-form-block.style-simple-band table td{
        text-align:left;
        padding: 0;margin: 0;
        padding-top: 15px;
    }

    .scms-contact-form-block.style-simple-band table td input[type="text"], .scms-contact-form-block.style-simple-band table td textarea{
        width:calc(100% - 18px);
        border:1px solid rgba(0,0,0,0.45);
        padding: 8px;
    }

    .scms-contact-form-block.style-simple-band table td textarea{
        height: 150px;
    }

    .scms-contact-form-block.style-simple-band table td input[type="submit"]{
        float:right;
    }

    .scms-contact-form-block.style-simple-band table tr>td:first-child{
        width: 16%;
    }
</style>
@file~close scms-basics/contact-form-builder.php
@file~write scms-basics/contact-form-getter.js
var x_result = {
    type: "scms-contact-form-block",
    module: "scms-basics"
}
x_result;
@file~close scms-basics/contact-form-getter.js
@file~write scms-basics/contact-from-html-code.js
var div = document.createElement("div");
$(div).addClass("scms-contact-form-block");
$(div).html('Formulaire de contact : rechargez la page pour l\'afficher');  
this.parentElement.insertBefore(div, this);
$('#scms-get-json').click();
@file~close scms-basics/contact-from-html-code.js
