@doctype installation-config-file
@require *
@require version 1.0.0
@folder scms-basics-db
@file~write scms-basics-db/comment-form-builder.php
<div class="scms-comment-form-block style-simple-band">
<div class="scms-centred-element">
<form action="" method="post">
<?php
if(isset($_POST["send"])){
echo "ok";
if($db->query('INSERT INTO comments VALUES ["", "' . $_GET["p"] .'", "test", "' . $_POST["test"] . '"]')){
echo "done";
}
}
?>
<input type="text" name="test">
<input type="submit" value="send" name="send">
</form>

<?php

$array = $db->query('SELECT * FROM comments WHERE page_name = ' . $_GET["p"]);
var_dump($array);

?>

</div>
</div>

@file~close scms-basics-db/comment-form-builder.php
@file~write scms-basics-db/comment-form-getter.js
var x_result = {
type: "scms-comment-form-block",
module: "scms-basics-db"
}
x_result;





@file~close scms-basics-db/comment-form-getter.js
@file~write scms-basics-db/comment-from-html-code.js
var div = document.createElement("div");
$(div).addClass("scms-comment-form-block");
$(div).html('Formulaire de contact : rechargez la page pour l\'afficher');
this.parentElement.insertBefore(div, this);
$('#scms-get-json').click();





@file~close scms-basics-db/comment-from-html-code.js
@file~write scms-basics-db/map.json
{
"comment-form": {
"gen-code": "comment-form-builder.php",
"get-code": "comment-form-getter.js",
"htm-code": "comment-from-html-code.js",
"class": "scms-comment-form-block",
"disp-name": "Zone de commentaires",
"isBlock": true
}
}

@file~close scms-basics-db/map.json
