@doctype installation-config-file
@require *
@require version 1.0.0
@folder scms-basics
@file~write scms-basics/404-builder.php
<div class="scms-basics-404-image"><link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<style>
.scms-basics-404-image{
z-index:94;
position:fixed;
top: 65px;
left: 0;bottom: 0;right: 0;
background:#eee;
background:url('scms-content/images/404-rail.jpg?') no-repeat;
background-position:center;
background-size:cover;
}
.scms-admin-assistant{
z-index: 100;
}
.inside-scms-basics-404-span{
color:#CE1338;
font-family: Pacifico, sans-serif;
position:absolute;
top: 50%;
left: 50%;
font-size:200px;
transform:translateX(-50%) translateY(calc(-50% - 100px));
text-shadow:0px 0px 50px 0px rgba(255,255,255,0.25);
}
.inside-scms-basics-404-span-2{
color:white;
font-family: Pacifico, sans-serif;
position:absolute;
top: 50%;
left: 50%;
font-size:50px;
transform:translateX(-50%) translateY(calc(-50% + 100px));
text-shadow:0px 0px 50px 0px rgba(0,0,0,0.35);
}
.go-home-button{
position:absolute;
top: 50%;
left: 50%;
font-size:50px;
transform:translateX(-50%) translateY(calc(-50% + 200px));
}

@media (max-height:563px)
{
.inside-scms-basics-404-span{
font-size:100px;
transform:translateX(-50%) translateY(calc(-50% - 50px));
}
.inside-scms-basics-404-span-2{
font-size:25px;
transform:translateX(-50%) translateY(calc(-50% + 50px));
}
.go-home-button{
transform:translateX(-50%) translateY(calc(-50% + 100px));
}
}
.powered-by-scms{
position:absolute;
bottom: 0;left: 50%;
color:rgba(255,255,255,0.25);
font-family: Pacifico, sans-serif;
font-size: 15px;
transform:translateX(-50%);
}
</style>
<span class="inside-scms-basics-404-span">

404

</span>
<span class="inside-scms-basics-404-span-2">

You're lost !


</span>
<a href="?p=home" class="go-home-button">
<button class="scms-simple-action-button" >HOME PAGE</button>
</a>
<span class="powered-by-scms">Powered by SCMS</span>
</div>



@file~close scms-basics/404-builder.php
@file~write scms-basics/404-getter.js
var x_result = {
type: "scms-basics-404-image",
module: "scms-basics"
}
x_result;







@file~close scms-basics/404-getter.js
@file~write scms-basics/404-html-code.js
var div = document.createElement("div");
$(div).addClass("scms-basics-404-image");
$(div).html('page 404, sauvegadez la page');
this.parentElement.insertBefore(div, this);
$('#scms-get-json').click();







@file~close scms-basics/404-html-code.js
@file~write scms-basics/contact-form-builder.php
<div class="scms-contact-form-block style-simple-band">
<div class="scms-centred-element">
<form action="#" method="post">
<table>
<tr>
<td>
Nom :
</td>
<td>
<input type="text" name="name">
</td>
</tr>
<tr>
<td>
Prénom :
</td>
<td>
<input type="text" name="name">
</td>
</tr>
<tr>
<td>
Email :
</td>
<td>
<input type="text" name="name">
</td>
</tr>
<tr>
<td>
Objet :
</td>
<td>
<textarea name="name"></textarea>
</td>
</tr>
<tr>
<td>

</td>
<td>
<input type="submit" value="Confirmer" class="scms-simple-action-button" style="margin-right:0;">
</td>
</tr>
</table>

</form>
</div>
</div>

<style data-core-no-index>
.scms-contact-form-block.style-simple-band table{
display:table;
width:65%;
margin:auto;
}

.scms-contact-form-block.style-simple-band table td{
text-align:left;
padding: 0;margin: 0;
padding-top: 15px;
}

.scms-contact-form-block.style-simple-band table td input[type="text"], .scms-contact-form-block.style-simple-band table td textarea{
width:calc(100% - 18px);
border:1px solid rgba(0,0,0,0.45);
padding: 8px;
}

.scms-contact-form-block.style-simple-band table td textarea{
height: 150px;
}

.scms-contact-form-block.style-simple-band table td input[type="submit"]{
float:right;
}

.scms-contact-form-block.style-simple-band table tr>td:first-child{
width: 16%;
}
</style>







@file~close scms-basics/contact-form-builder.php
@file~write scms-basics/contact-form-getter.js
var x_result = {
type: "scms-contact-form-block",
module: "scms-basics"
}
x_result;







@file~close scms-basics/contact-form-getter.js
@file~write scms-basics/contact-from-html-code.js
var div = document.createElement("div");
$(div).addClass("scms-contact-form-block");
$(div).html('Formulaire de contact : rechargez la page pour l\'afficher');
this.parentElement.insertBefore(div, this);
$('#scms-get-json').click();







@file~close scms-basics/contact-from-html-code.js
@file~write scms-basics/iframe-builder.php
<div class="scms-basics-iframe style-simple-band"
<?php
if($dev_mod == true){
echo 'onclick="xxx_module_update_iframe_URL_ccc(this)"';
}
?> >
<div class="scms-centred-element">

<iframe src="<?= $e["url"] ?>" frameborder="0" style="width:100%; height:50vh;" allowfullscreen>

</iframe>
</div>
</div>
<script data-core-no-index>
function xxx_module_update_iframe_URL_ccc (e) {
var pr = prompt('url', e.querySelector('iframe').src);
if(pr != null){
e.querySelector('iframe').src = pr;
}
}
</script>




@file~close scms-basics/iframe-builder.php
@file~write scms-basics/iframe-getter.js
var x_result = {
type: "scms-basics-iframe",
module: "scms-basics",
url: element.querySelector('iframe').src
}
x_result;







@file~close scms-basics/iframe-getter.js
@file~write scms-basics/iframe-html-code.js
var div = document.createElement("div");
$(div).addClass("scms-basics-iframe").child('iframe').node.src= "";
this.parentElement.insertBefore(div, this);
$('#scms-get-json').click();







@file~close scms-basics/iframe-html-code.js
@file~write scms-basics/map.json
{
"contact-form": {
"gen-code": "contact-form-builder.php",
"get-code": "contact-form-getter.js",
"htm-code": "contact-from-html-code.js",
"class": "scms-contact-form-block",
"disp-name": "Formulaire de contact",
"isBlock": true
},
"404-full-screen": {
"gen-code": "404-builder.php",
"get-code": "404-getter.js",
"htm-code": "404-html-code.js",
"class": "scms-basics-404-image",
"disp-name": "Block 404 pour page 404",
"isBlock": true
},
"iframe": {
"gen-code": "iframe-builder.php",
"get-code": "iframe-getter.js",
"htm-code": "iframe-html-code.js",
"class": "scms-basics-iframe",
"disp-name": "Cadre pour intégrer un site web dans votre site",
"isBlock": true
},
"simple-image": {
"gen-code": "simple-image-builder.php",
"get-code": "simple-image-getter.js",
"htm-code": "simple-image-html-code.js",
"class": "scms-simple-image",
"disp-name": "Simple image",
"isBlock": true
}
}

@file~close scms-basics/map.json
@file~write scms-basics/simple-image-builder.php
<?php
if(isset($_GET["dev_mod"]) && $_GET["dev_mod"] == "true"){
$a =  'onclick="scms_basics_image_simple_update(this)"';
}else{
$a = "";
}
$html.= '
<img src="' . $e["src"] .'" style="max-width:100%;" class="scms-simple-image" ' . $a . '>
';
?>

<script data-core-no-index>
function scms_basics_image_simple_update (e) {
var pr = prompt('url', e.src);
if(pr != null){
e.src = pr;
}
}
</script>




@file~close scms-basics/simple-image-builder.php
@file~write scms-basics/simple-image-getter.js
var x_result = {
type: "scms-simple-image",
module: "scms-basics",
src: element.src
}
x_result;







@file~close scms-basics/simple-image-getter.js
@file~write scms-basics/simple-image-html-code.js
if(this.childNodes[0] != undefined && this.childNodes[0].classList.contains("scms-centred-element")){
var e = this.childNodes[0];
$(e).child("img").addClass('scms-simple-image').get(0).src = "scms-modules/scms-basics/basic.jpg";
must_reload = true;
$('#scms-get-json').click();
}






@file~close scms-basics/simple-image-html-code.js
