body{
    background: #eee;
    font-family: sans-serif;
}

.login-container {
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 100;
    background: rgba(0,0,0,0.95);
    & .login{
        background: white;
        max-width: 100%;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 450px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 25px rgba(255,255,255,0.35);
        & h1{
            padding-left: 5px;
            color:gray;
            padding-bottom: 50px;
            padding-top: 25px;
        }
        & input[type="text"], & input[type="password"]{
            padding: 10px;
            width: 100%;
            border:1px solid rgba(0,0,0,0.25);
            margin-bottom:25px; 
        }
        & input[type="submit"]{
            padding: 10px;
            float:right;
            margin: 15px;
            margin-top: 0;
            border:1px solid rgba(0,0,0,0.25);
            margin-bottom:25px; 
            background: orange;
            color:rgba(255,255,255,0.85);
            font-weight: 800;
            cursor:pointer;
        }
    }
}
$position: 200px;
$color:#125eb1;
.main-panel{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index:50;
    & .header{
        height: 50px;
        background: $color;
        line-height: 50px;
        padding-left: 25px;
        color:white;
        position: absolute;
        left:$position;
        right: 0;top: 0;
    }
    & .left-panel{
        position: absolute;
        top: 0;left: 0;bottom: 0;
        width: $position;
        background: rgba(0,0,0,0.85);
        & button{
            padding: 0;margin: 0;
            display: block;
            width: 100%;
            padding-top: 25px;
            padding-bottom: 25px;
            border:none;
            background: transparent;
            color:white;
            cursor: pointer;
        }
        & button:nth-child(1){
            cursor: default;
        }
        & span{
            display: block;
            width: 100%;
            color:white;
            text-align: center;
        }
    }
    & .content-panel{
        position: absolute;
        left: $position;
        top: 50px;
        right: 0;bottom: 0;
        padding: 25px;
        overflow: hidden;
        overflow-y: auto;
        & .w100-input{
            font-family: inherit;
            width: 100%;
            font-size: 16px;
            padding: 5px;
            border: 0;margin: 0;
            margin-top: 10px;
        }
        & textarea.w100-input{
            height: 500px;
        }
        & .btn{
            background: $color;
            color:white;
            padding: 8px;
            padding-left: 10px;padding-right: 10px;
            border:1px solid rgba($color, 0.85);
            margin-top: 10px;
            float:right;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            & td,& th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            & tr:nth-child(even) {
                background-color: #dddddd;
            }

            th{
                background: $color;
                border: 1px solid $color;
                color:white;
            }
            & .delete{
                background: #d20000;
                color:white;
                padding: 5px;
                border-radius: 4px;
                border:none;
                box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
                margin: 5px;
            }
            & .modify{
                background: #27b82f;
                color:white;
                padding: 5px;
                border-radius: 4px;
                border:none;
                box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
                margin: 5px;
            }
        }
    }
}