body{
    background: #eee;
    font-family: sans-serif;
}

::selection {
    background:#eee;
    color:rgba(0,0,0,0.65);
}

.scms-header{
    z-index:95;
    background:white;
    position: fixed;
    top: 0;left: 0;right: 0;
    height: 65px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    & .scms-header-title{
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        font-size: 25px;
        color:rgb(81,81,81);
    }
    & .scms-header-actions{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        & .scms-header-actions-link{
            color:gray;
            text-decoration: none;
            padding-left: 15px;
            padding-right: 5px;
            transition: 0.35;
            &:hover{
                color:black;
            }
        }
    }
}

.scms-content-container{
    z-index: 90;
    background: darken(white, 1%);
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
}


.scms-footer{
    background: rgb(45,45,45);
    text-align: center;
    color:white;
    padding: 50px;
}

body .scms-content-block, .style-simple-band{
    padding: 50px;
    background: white;
    & .scms-centred-element{
        position: relative;
        padding: auto;
        margin: auto;
        width: 100%;
        max-width:950px;
        text-align:center;
        
        &.scms-compare-block{
            text-align: center;
            & .scms-compare-block-cel{
                position: relative;
                display: inline-block;
                height: 450px;
                width:calc(100% - 60px);
                max-width: 235px;
                margin: auto;
                background: darken(#fefefe, 1%);
                text-align: left;
                margin: 15px;
                padding: 15px;
                border:2px solid darken(#fefefe, 10%);
                vertical-align: top;
                & .scms-content-block-title{
                    color:rgba(0,0,0,0.65);
                    font-size: 18px;
                    &.big{
                        font-size:48px;
                        padding-top:18px;
                        color:crimson;
                    }
                }
            }
        }

    }
    &:nth-child(odd){
        background: lighten(#f9f9f9, 1%);
    }
}

.scms-content-block-title{
    color:rgba(0,0,0,0.75);
    text-align: center;
    padding: 0;margin: 0;
    margin-bottom: 13px;
}
.scms-content-block-paragraph{
    color:rgba(0,0,0,0.65);
    text-align: left;
    padding: 0;margin: 0;
    margin-top: 12px;
}

.scms-list-block{
    & li{
        padding: 8px;
        list-style-type: none;
    }
}

.scms-big-action-button{
    width: calc(100% - 30px);
    max-width: 300px;
    background: darken(crimson, 3%);
    color:white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: 1s;
    &.scms-to-bottom{
        position: absolute;
        bottom: 15px;
        font-size: 18px;
    }
    &:hover{
        background: white;
        color:darken(crimson, 3%);
        width: calc(100% - 32px);
        border:1px solid darken(crimson, 3%);
    }
}

.scms-simple-action-button{
    position: relative;
    display: inline-block;
    max-width: 300px;
    background: darken(crimson, 3%);
    color:white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    padding-left: 25px;padding-right: 25px;
    cursor: pointer;
    transition: 1s;
    margin:auto 15px;
    &:hover{
        background: white;
        color:darken(crimson, 3%);
        border:1px solid darken(crimson, 3%);
    }
}

.scms-admin-assistant{
    transition:0.75s;
    
    position: fixed;
    top: 66px;left: 0;bottom: 0;
    width: 120px;
    background: rgba(0,0,0,0.85);
    & button{
    transition:0.75s;
        
        background: rgba(0,0,0,0.25);
        padding: 15px;
        margin-top: 15px;
        color:white;
        border:none;
        width: 100%;
        cursor: pointer;
        &:hover{
            background:rgba(255,255,255,0.55);
            color:black;
        }
    }
}

.scms-element-window{
    transition:0.75s;
    
    z-index:100;
    position: fixed;
    top: 5px;left: 5px;right: 5px;bottom: 5px;
    background:rgba(255,255,255,0.95);
    padding: 25px;
    overflow: auto;
}

.scms-editor-delete-element{
    border-radius: 5px;
    transition:0.75s;
    background:lighten(#E33434, 2%);
    float:right;
    color:white;
    border:none;
    padding: 8px;
    padding-left: 15px;padding-right: 15px;
    cursor: pointer;
    &:hover{
        background:darken(#E33434, 5%);
    }
}
